*{
    font-family: Arial, Helvetica, sans-serif;
    color: black; /*color de la letra*/
    
}
#contPrincipal{
    background-color: rgb(207, 237, 237); /* color del fondo */
    width: 30%;
    padding: 25px;/* marco*/
    margin: 30px 170px;
    border: 50px /* color del borde */
    
}    
h1{
    color: aqua;
    border: 10;
}
input,label,select{
    display: block;
}
