*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
#login{
    background-color: rgb(193, 193, 245);
    padding: 40px;
    display: block; /* para cambiar el tipo de etiqueta poner inline en block osea para abajo  */
    margin: auto;   
    width: fit-content; 
    border: 2px solid rgb(130, 63, 224);
    text-align: center;
    
}
#fondo label,#fondo input{
    display: block;
    text-align: center;
    margin: auto;
    margin-block: 5px ;

}
#boton{
    background-color: rgb(159, 124, 228);
    border: 2px;
    
}
