img{
    width: 100px;
}

.destino{
    background-color: yellow;
    width: 150px;
    height: 400px;
    padding: 10px;
    float: left;
    margin: 15px;
    text-align: center;
}
.movil{
    margin: 20px auto;
    border: 1px solid;
    padding: 5px;
}